<h3>Tech Stack {{techStackInfo.nome}}</h3>
<div class="container">
    <app-tech-stack-info [techInfo]="techStackInfo"></app-tech-stack-info>
    <app-tech-stack-answers-info [techInfo]="techStackInfo"></app-tech-stack-answers-info>
    <p>Área com as informações em forma de gráfico</p>
</div>

<p-tabView>
    <p-tabPanel header="Conhecimentos Específicos">
        Conhecimentos Específicos
        <app-basic-input title="Novo conhecimento"></app-basic-input>
    </p-tabPanel>
    <p-tabPanel header="Conhecimentos Comuns">
        Conhecimentos Comuns
        <app-basic-input title="Novo conhecimento"></app-basic-input>
    </p-tabPanel>
    <p-tabPanel header="Assuntos">
        Assuntos
        <app-basic-input title="Novo assunto"></app-basic-input>
    </p-tabPanel>
    <p-tabPanel header="Respostas">
        Respostas
    </p-tabPanel>
</p-tabView>
