.container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin-left: 10px;
    border: 1px solid rgb(214, 205, 205);
    border-radius: 10px;
}

.child {
    margin: 10px;
    width: 120px;
    text-align: center;
    border-left: 5px solid rgb(18, 18, 145);
    border-radius: 10px;
}

.container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}