<div class="tech-stack-box">
    <div class="simple-container">
        <p class="label">Área: </p>
        <p>{{techInfo?.area}}</p>
    </div>
    <div class="simple-container">
        <p class="label">Detalhes: </p>
        <p>{{techInfo?.detalhes}}</p>
    </div>
    <div class="simple-container">
        <p class="label">Responsáveis: </p>
        <p>{{techInfo?.responsaveis}}</p>
    </div>
    <div class="simple-container">
        <p class="label">Criada em: </p>
        <p>{{techInfo?.dataCriacaoFormatada}}</p>
    </div>
</div>
